.cf{zoom:1}.cf:before,.cf:after{content:"";display:table}.clear,.cf:after{clear:both}

.preview-variation {
	line-height: 1.6;
}
#graph-controls {
	float: right;
	color: #999;
	font-size: 10px;
	margin-bottom: 30px;
	}
	#graph-type span {
		float: left;
		margin: -3px 20px 0 0 ;
	}
	#graph-type label {
		float: left;
		margin: -2px 20px 0 0;
		padding-left: 5px;
		color: #999;
	}
	#graph-type input {
		display: block;
		float: left;
		margin: 0 3px;
	}

/** Grid **/
#view-test {
	position: relative;
}
#no-data {
	position: absolute;
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding: 127px 0;
	background: #fbfbfb;
	z-index: 999;
	text-align: center;
	color: #ccc;
	text-transform: uppercase;
	letter-spacing: 0.75em;
}
#view-test .grid th a span {
	line-height: 18px;
}
#view-test .grid td, #view-test .grid th {
	line-height: 25px;
	}
	#view-test .grid small, #view-test .average {
		color: #777;
	}
	#view-test .unlikely, #view-test .worst, #view-test .worse {
		color: #e90012;
	}
	#view-test .infinity {
		font-size: 16px;
	}
	#view-test .worse {
		font-weight: bold;
	}
	#view-test .likely, #view-test .best {
		color: green;
		font-weight: bold;
	}
	#view-test .confident {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAeCAMAAAD5ENUgAAAATlBMVEXs/+Lz/+z////9//zt/+T2//H7//rv/+b+//7w/+n5//X4//Xu/+X1//D0/+7t/+P+//33//P7//jw/+f5//by/+v8//v8//r6//j7//kNIVK7AAAAjElEQVR42m3QORbDIBAEURAIgTaEtdn3v6gTV08gd/ijeu2Y734LEYoB8471UBINGSuyEZpEBcqzLGGLaFVHVcf27GjQ60/HLjugJjqhLUL1enYs0FXJcBk7dYeDDsvA8mAZWLMMzDpu2Wp3YMnukBW7A1PH3mHW8Zb11oGFqDtk3u7APtCcMeuYuOMLD/AFg1z+a4UAAAAASUVORK5CYII=) repeat;
	}

