.cf{zoom:1}.cf:before,.cf:after{content:"";display:table}.clear,.cf:after{clear:both}

#graph-controls {
	float: right;
	color: #999;
	font-size: 10px;
	margin-bottom: 30px;
	}
	#graph-type span {
		float: left;
		margin: -3px 20px 0 0 ;
	}
	#graph-type label {
		float: left;
		margin: -2px 20px 0 0;
		padding-left: 5px;
		color: #999;
	}
	#graph-type input {
		display: block;
		float: left;
		margin: 0 3px;
	}

/** Grid **/

#view-test .grid th a span {
	line-height: 18px;
}
#view-test .grid td, #view-test .grid th {
	line-height: 25px;
	}
	#view-test .grid small, #view-test .average {
		color: #777;
	}
	#view-test .unlikely {
		color: red;
	}
	#view-test .likely {
		color: green;
		font-weight: bold;
	}

